@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

#Facebook{
    width: 36.45px;
    height: 36.45px;
    padding-left: 1655px;
    position: relative;
    top: 20px;
}

#LinkedIn{
    width: 36.23px;
    height: 36.45px;
    padding-left: 1730px;
    position: relative;
    top: -20px;
    right: 5px;
}

#Instagram{
    width: 36.45px;
    height: 36.45px;
    position: relative;
    left: 23px;
    top: -20px;
}

#main-div{
    display: flex;
    justify-content: center;
    gap: 55px;
    color: #343c2b;
    font-family: "Nunito Sans",sans-serif;
    font-size: 12px;
    position: relative;
    left: 50px;
}

#image-1{
    width: 590px;
    height: 590px;
    padding-left: 415px;
    margin-top: 45px;
}

#image-2{
    width: 590px;
    height: 590px;
    margin-top: -525px;
    padding-left: 470px;
}

#Lorem{
    width: 496px;
    height: 241px;
    color: #343C2B;
    font-family: "Nunito Sans",sans-serif;
    font-size: 72px;
    padding-left: 1165px;
    position: relative;
    bottom: 450px;
    line-height: auto;
}

#horiozntal-line{
    width: 266px;
    height: 4px;
    background-color: #343C2B;
    position: relative;
    left: 1265px;
    bottom: 520px;
}