/* დეკლარაცია არის CSS-ში ერთი სტილის წესი, რომელიც შედგება 
კუთვნილებისა და მისი მნიშვნელობისგან
დეკლარაცია იწერება {} ფრჩხილებში და მთავრდება ;-ით */

/* მაგალითი */
/* color: red; */


/* კუთვნილება განსაზღვრავს, თუ რა მახასიათებელს ვცვლით 
მნიშვნელობა კი არის ის რასაც ამ კუთვნილებას ვანიჭებთ */

/* მაგალითად */
/*
font-size: 16px;
background-color: yellow;
text-align: center;
*/


/* CSS-ის წესი არის სრული ბლოკი, რომელიც შეიცავს 
სელექტორს და ერთ ან რამდენიმე დეკლარაციას
წესი აძლევს სტილს კონკრეტულ HTML ელემენტს ან ელემენტების ჯგუფს */

/* მაგალითად */
/*
p {
    color: green;
    font-size: 18px;
}
*/